<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container_2">
        <div class="secondo_titolo">
            <p>Se non ti sei registrato, oggi lo puoi fare</p>
            <h2>Registrati</h2>
        </div>
        <div class="bordi-form">
            <form action="/" method="POST">
                <label for="Nome">Nome:</label>
                <input type="text" name="Nome" size="40"/>
            
                <label for="Cognome">Cognome:</label>
                <input type="text" name="Cognome" id="Cognome" size="30" />
    
                <label for="Numero">Numero:</label>
                <input type="text" name="Numero" id="Numero" size="30" />
    
                <label for="Via">Via:</label>
                <input type="text" name="Via" id="Via" size="30" />
        
                <label for="password">Passaword:</label>
                <input type="password" name="password" size="40"/>

                <button class="buttone-form" type="submit">Invia</button>
            </form>
        </div>
    </div>
</body>
</html>